자료 출처: KOSIS(통계청, 인구총조사), 2022.01.05

In [11]:
from __future__ import print_function

import pandas as pd

In [12]:
# thousands 옵션을 추가해 반점 없는 정수로 데이터 읽음
population_dataframe = pd.read_csv("data_folder/population2.csv", sep=",", thousands=',')
population_dataframe.describe()

         내국인-남자 (명)    내국인-여자 (명)     외국인-남자 (명)     외국인-여자 (명)
count  3.240000e+02  3.240000e+02     324.000000     324.000000
mean   3.808781e+05  3.829222e+05   14431.737654   11373.956790
std    1.862380e+06  1.882999e+06   68319.711575   57182.705627
min    4.489000e+03  3.708000e+03      61.000000      53.000000
25%    3.212425e+04  3.149750e+04     858.000000     746.750000
50%    1.122460e+05  1.101730e+05    2807.500000    2526.000000
75%    2.116170e+05  2.168115e+05    8050.250000    6191.250000
max    2.497259e+07  2.516090e+07  942619.000000  753024.000000

+ 데이터프레임을 출력할 때는 `display` 함수를 이용할 수 있다.
+ `.set_option` 함수로 display 시에 몇 개의 행을 출력할지 등을 설정할 수 있다.
    + `display.max_rows`는 몇 개의 행을 출력할 지 설정한다.
    + `display.max_columns`는 몇 개의 열을 출력할지 설정한다.
+ `reset_option` 함수로 display 옵션을 초기화할 수 있다.

In [13]:
from IPython.display import display

In [14]:
print(population_dataframe)
print("===========================================================")
pd.set_option("display.max_rows", 5)
pd.set_option("display.max_columns", 4)
display(population_dataframe)
print("===========================================================")
pd.reset_option("^display.", silent=True)
display(population_dataframe)

    행정구역별(읍면동)  내국인-남자 (명)  내국인-여자 (명)  외국인-남자 (명)  외국인-여자 (명)
0           전국    24972588    25160905      942619      753024
1           읍부     2494271     2410376      130080       78325
2           면부     2237761     2156384      182631       74005
3           동부    20240556    20594145      629908      600694
4        서울특별시     4474343     4745398      173390      193064
..         ...         ...         ...         ...         ...
319      　　　읍부       72697       70910        6533        3627
320      　　　면부       17103       16500        1262         674
321      　　　동부      233204      233613        7374        7361
322     　　　제주시      237502      236694        9972        8138
323    　　　서귀포시       85502       84329        5197        3524

[324 rows x 5 columns]
===========================================================

    행정구역별(읍면동)  내국인-남자 (명)  ...  외국인-남자 (명)  외국인-여자 (명)
0           전국    24972588  ...      942619      753024
1           읍부     2494271  ...      130080       78325
..         ...         ...  ...         ...         ...
322     　　　제주시      237502  ...        9972        8138
323    　　　서귀포시       85502  ...        5197        3524

[324 rows x 5 columns]

===========================================================

    행정구역별(읍면동)  내국인-남자 (명)  내국인-여자 (명)  외국인-남자 (명)  외국인-여자 (명)
0           전국    24972588    25160905      942619      753024
1           읍부     2494271     2410376      130080       78325
2           면부     2237761     2156384      182631       74005
3           동부    20240556    20594145      629908      600694
4        서울특별시     4474343     4745398      173390      193064
..         ...         ...         ...         ...         ...
319      　　　읍부       72697       70910        6533        3627
320      　　　면부       17103       16500        1262         674
321      　　　동부      233204      233613        7374        7361
322     　　　제주시      237502      236694        9972        8138
323    　　　서귀포시       85502       84329        5197        3524

[324 rows x 5 columns]

+ `Dataframe.shape`을 통해 데이터프레임의 __행__ 과 __열__ 의 개수를 알 수 있다.

In [15]:
print(population_dataframe.shape)
print(population_dataframe.index)
print("행의 개수: ", len(population_dataframe.index))
print(population_dataframe.columns)
print("열의 개수: ", len(population_dataframe.columns))

(324, 5)
RangeIndex(start=0, stop=324, step=1)
행의 개수:  324
Index(['행정구역별(읍면동)', '내국인-남자 (명)', '내국인-여자 (명)', '외국인-남자 (명)', '외국인-여자 (명)'], dtype='object')
열의 개수:  5

+ `loc`, `iloc`을 이용해 데이터 프레임의 특정 행을 참조할 수 있다.
    + `loc`은 인덱스를 기준으로 함. 인덱스는 사용자가 임의로 설정할 수 있으며 비연속적일 수도 있다.
    + `iloc`은 행 번호를 기준으로 하며, 0번부터 오름차순으로 이어진다.`

In [16]:
display(population_dataframe.iloc[[0, 1, 3]])
print("특정 위치 데이터 참조[0][2]: ", population_dataframe.iloc[0][2])
# 마지막 행 참조
display(population_dataframe.iloc[[-1]])
print("모든 행의 특정 열 참조 0, 1, 3")
display(population_dataframe.iloc[:, [0, 1, 3]])

  행정구역별(읍면동)  내국인-남자 (명)  내국인-여자 (명)  외국인-남자 (명)  외국인-여자 (명)
0         전국    24972588    25160905      942619      753024
1         읍부     2494271     2410376      130080       78325
3         동부    20240556    20594145      629908      600694

특정 위치 데이터 참조[0][2]:  25160905

    행정구역별(읍면동)  내국인-남자 (명)  내국인-여자 (명)  외국인-남자 (명)  외국인-여자 (명)
323    　　　서귀포시       85502       84329        5197        3524

모든 행의 특정 열 참조 0, 1, 3

    행정구역별(읍면동)  내국인-남자 (명)  외국인-남자 (명)
0           전국    24972588      942619
1           읍부     2494271      130080
2           면부     2237761      182631
3           동부    20240556      629908
4        서울특별시     4474343      173390
..         ...         ...         ...
319      　　　읍부       72697        6533
320      　　　면부       17103        1262
321      　　　동부      233204        7374
322     　　　제주시      237502        9972
323    　　　서귀포시       85502        5197

[324 rows x 3 columns]

In [17]:
display(population_dataframe.loc[[0, 1, 4]])
print(population_dataframe.loc[1][0])
# display(population_dataframe[[-1]]) 에러.

  행정구역별(읍면동)  내국인-남자 (명)  내국인-여자 (명)  외국인-남자 (명)  외국인-여자 (명)
0         전국    24972588    25160905      942619      753024
1         읍부     2494271     2410376      130080       78325
4      서울특별시     4474343     4745398      173390      193064

읍부

+ `loc`에 열의 이름을 넣어서 특정 열들을 참조할 수 있다.

In [18]:
# 열 이름의 리스트를 전달해 여러 개의 리스트를 한 번에 참조 가능
# 모든 행(:)의 ["내국인-남자 (명)", "외국인-남자 (명)"] 열들을 참조
display(population_dataframe.loc[:, ["내국인-남자 (명)", "외국인-남자 (명)"]])

     내국인-남자 (명)  외국인-남자 (명)
0      24972588      942619
1       2494271      130080
2       2237761      182631
3      20240556      629908
4       4474343      173390
..          ...         ...
319       72697        6533
320       17103        1262
321      233204        7374
322      237502        9972
323       85502        5197

[324 rows x 2 columns]

+ 조건에 맞는 특정 프레임만 추출할 수도 있다.
    + `isin` 함수를 이용해 리스트에 해당하는 원소만 추출할 수도 있다.

In [19]:
condition1 = population_dataframe["내국인-남자 (명)"] > 200000
population_dataframe[condition1]

    행정구역별(읍면동)  내국인-남자 (명)  내국인-여자 (명)  외국인-남자 (명)  외국인-여자 (명)
0           전국    24972588    25160905      942619      753024
1           읍부     2494271     2410376      130080       78325
2           면부     2237761     2156384      182631       74005
3           동부    20240556    20594145      629908      600694
4        서울특별시     4474343     4745398      173390      193064
..         ...         ...         ...         ...         ...
298     　　　김해시      265774      261650       17289        7714
302     　　　창원시      511296      498642       11617        7834
318    제주특별자치도      323004      321023       15169       11662
321      　　　동부      233204      233613        7374        7361
322     　　　제주시      237502      236694        9972        8138

[86 rows x 5 columns]

In [20]:
condition_adm_div = [ "서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시", "울산광역시", "세종특별자치시", "경기도", "강원도", "충청북도", "충청남도", "전라북도", "전라남도", "경상북도", "경상남도", "제주특별자치도" ]
population_dataframe[population_dataframe["행정구역별(읍면동)"].isin(condition_adm_div)]

    행정구역별(읍면동)  내국인-남자 (명)  내국인-여자 (명)  외국인-남자 (명)  외국인-여자 (명)
4        서울특별시     4474343     4745398      173390      193064
30       부산광역시     1608877     1685225       29874       25040
50       대구광역시     1170625     1202677       19646       17752
62       인천광역시     1422376     1423866       54688       44524
76       광주광역시      717832      729168       16308       14265
88       울산광역시      570131      538397       15847       11048
97     세종특별자치시      173541      173148        4398        2846
102        경기도     6489718     6438496      338649      244813
154        강원도      754831      742278       12843       11811
176       충청북도      799168      775826       34651       22443
195       충청남도     1058869     1018601       58706       40460
216       전라북도      876451      883949       22607       19759
236       전라남도      875732      867839       27549       17687
262       경상북도     1294138     1276072       44685       29862
291       경상남도     1629100     1607287       63112       33557
318    제주특별자치도      323004      321023       15169       11662